In [1]:
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv('diabetes-prevalence-vs-gdp-per-capita.csv')

In [12]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year,58572.0,1.603476e+03,1.425030e+03,-10000.0000,1832.00000,1.901000e+03,1966.000,2.021000e+03
Diabetes prevalence (% of population ages 20 to 79),465.0,8.649527e+00,4.745710e+00,0.0000,5.50000,7.700000e+00,10.700,3.080000e+01
"GDP per capita, PPP (constant 2017 international $)",6346.0,1.806900e+04,2.019355e+04,436.3764,3673.79285,1.048622e+04,26409.074,1.576025e+05
Population (historical estimates),58252.0,4.901082e+07,2.925549e+08,0.0000,146084.00000,1.388504e+06,6600997.750,7.909295e+09

In [13]:
df

,Entity,Code,Year,Diabetes prevalence (% of population ages 20 to 79),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2011,7.6,1961.0963,29249156.0,NaN
2,Afghanistan,AFG,2021,10.9,1516.3057,40099460.0,NaN
3,Afghanistan,AFG,2002,NaN,1280.4631,21000258.0,NaN
4,Afghanistan,AFG,2003,NaN,1292.3335,22645136.0,NaN
...,...,...,...,...,...,...,...
58567,Zimbabwe,ZWE,1985,NaN,NaN,8690516.0,NaN
58568,Zimbabwe,ZWE,1986,NaN,NaN,8983048.0,NaN
58569,Zimbabwe,ZWE,1987,NaN,NaN,9277484.0,NaN
58570,Zimbabwe,ZWE,1988,NaN,NaN,9568745.0,NaN
58571,Zimbabwe,ZWE,1989,NaN,NaN,9846352.0,NaN